<ion-content class="welcome">
  <div class="welcome__container">
    <img class="welcome__logo" src="../../../assets/img/meet-logo.png" />
    <p class="welcome__text">
      MEET! FESTIVAL nace con la intención de situarse como escaparate y
      referente en el circuito internacional y en todo el caribe.
    </p>
    <div class="welcome__btns-container">
      <ion-button
        expand="block"
        shape="round"
        [routerLink]="['/login']"
        class="btn-light"
      >
        Sign in
      </ion-button>
      <ion-button
        expand="block"
        shape="round"
        [routerLink]="['/register']"
        class="btn-gradient"
        >Sign up</ion-button
      >
    </div>
  </div>
</ion-content>
