<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input
        class="form-control"
        type="text"
        formControlName="username"
      ></ion-input>
    </ion-item>
    <div *ngIf="form.get('username').pending">Checking...</div>
    <div *ngIf="form.get('username').touched && !form.get('username').valid">
      <div *ngIf="form.get('username').errors?.required">
        Username is required
      </div>
      <div *ngIf="form.get('username').errors?.minlength">
        Username should be minimum
        {{ form.get("username").errors.minlength.requiredLength }} characters
      </div>
      <div *ngIf="form.get('username').errors?.shouldBeUnique">
        Username is already taken
      </div>
    </div>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        class="form-control"
        type="email"
        formControlName="email"
      ></ion-input>
    </ion-item>
    <div *ngIf="form.get('email').touched && !form.get('email').valid">
      Enter a valid email address
    </div>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        class="form-control"
        type="password"
        formControlName="password"
      ></ion-input>
    </ion-item>
    <div *ngIf="form.get('password').touched && !form.get('password').valid">
      <div *ngIf="form.get('password').errors.required">
        Password is required
      </div>
      <div *ngIf="form.get('password').errors.minlength">
        password should be minimum
        {{ form.get("password").errors.minlength.requiredLength }} characters
      </div>
    </div>
    <ion-button type="submit" expand="block">Register</ion-button>
    <ion-button expand="block" color="primary" (click)="goBack()"
      >Go back</ion-button
    >
  </form>
</ion-content>

<!-- [disabled]="!form.valid" -->
